body {
    background-color: yellowgreen;
    font-family: "Chakra Petch";
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
h1 {
    text-align: center;
}